openapi: 3.1.0
info:
  title: Goodreads Web Undocumented API Map
  version: 0.1.0
  summary: Route map derived from authenticated Goodreads web traffic and DOM inspection.
  description: |
    This is an evidence-backed map of the Goodreads web surface. Goodreads has no current
    public developer API, so these routes are reverse-engineered from the logged-in web app.

    Evidence was captured on 2026-05-22 with browser-harness-js. Raw artifacts live under
    proofs/ and are mode 0600 because they contain account-visible metadata.

    This spec intentionally does not include cookies, CSRF tokens, request headers, response bodies,
    or raw Kindle highlight text.
servers:
  - url: https://www.goodreads.com
security:
  - goodreadsCookieSession: []
tags:
  - name: profile
  - name: shelves
  - name: books
  - name: notes
  - name: quotes
  - name: social
  - name: discovery
  - name: analytics
components:
  securitySchemes:
    goodreadsCookieSession:
      type: apiKey
      in: cookie
      name: _session_id2
      description: Authenticated Goodreads browser cookie. Amazon SSO cookies may also be required after redirect/login.
  parameters:
    Shelf:
      name: shelf
      in: query
      required: false
      schema:
        type: string
        examples:
          - read
          - currently-reading
          - to-read
          - did-not-finish
          - for-the-aesthetic
          - want-to-read-again
    Ref:
      name: ref
      in: query
      required: false
      schema:
        type: string
  responses:
    HtmlPage:
      description: HTML page rendered by Goodreads.
      content:
        text/html:
          schema:
            type: string
    XhrHtmlOrJson:
      description: XHR response. Observed routes can return HTML fragments, JavaScript, or JSON-like payloads depending on route.
      content:
        text/html:
          schema:
            type: string
        application/json:
          schema:
            type: object
            additionalProperties: true
        application/javascript:
          schema:
            type: string
    Empty:
      description: Empty or tracking response.
    XmlFeed:
      description: XML feed or descriptor.
      content:
        application/xml:
          schema:
            type: string
paths:
  /:
    get:
      tags: [profile]
      summary: Recent updates home/feed page.
      x-observed:
        artifact: goodreads/proofs/network-seed-2026-05-22.json
        status: 200
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /sign_in_prompt:
    get:
      tags: [profile]
      summary: Load the sign-in prompt fragment used by Goodreads pages.
      parameters:
        - name: countOverride
          in: query
          required: false
          schema:
            type: integer
      x-observed:
        source: authenticated CDP network inspection 2026-07-14
        status: 204
      x-safety:
        cli_support: omit
      responses:
        "204":
          $ref: "#/components/responses/Empty"

  /user/show/{user_slug}:
    get:
      tags: [profile]
      summary: User profile page.
      parameters:
        - name: user_slug
          in: path
          required: true
          schema:
            type: string
          example: 179929687-zayd-khan
      x-observed:
        artifacts:
          - goodreads/proofs/user-pages-map-2026-05-22.json
          - goodreads/proofs/user-pages-map-batch2-2026-05-22.json
        status: 200
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /user/delayable_user_show/{user_id}:
    get:
      tags: [profile]
      summary: Profile delay-loaded sections.
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
          example: 179929687
        - name: skip_cache
          in: query
          required: false
          schema:
            type: boolean
        - name: csm_scope
          in: query
          required: false
          schema:
            type: string
      x-observed:
        artifacts:
          - goodreads/proofs/user-pages-map-2026-05-22.json
          - goodreads/proofs/user-pages-map-batch2-2026-05-22.json
        status: 200
        resourceType: XHR
      responses:
        "200":
          $ref: "#/components/responses/XhrHtmlOrJson"

  /user/edit_fav_genres:
    post:
      tags: [profile]
      security:
        - goodreadsCookieSession: []
      summary: Update the current user's favorite genres.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              propertyNames:
                pattern: '^favorites\[[^\]]+\]$'
              additionalProperties:
                type: string
              minProperties: 1
      x-observed:
        source: authenticated CDP DOM inspection 2026-07-14
        submitted: false
      x-safety:
        default: disabled
        requires_approved_write_capture: true
      responses:
        "200":
          $ref: "#/components/responses/XhrHtmlOrJson"

  /user/sign_out:
    post:
      tags: [profile]
      security:
        - goodreadsCookieSession: []
      summary: Sign out the current Goodreads browser session.
      x-observed:
        source: authenticated CDP DOM inspection 2026-07-14
        submitted: false
      x-safety:
        default: disabled
        disruptive: true
        cli_support: omit
      responses:
        "302":
          description: Redirect after session termination.

  /user/edit:
    get:
      tags: [profile]
      security:
        - goodreadsCookieSession: []
      summary: Current user's profile, notification, feed, and privacy settings page.
      parameters:
        - name: tab
          in: query
          required: false
          schema:
            type: string
        - name: "widget[shelf]"
          in: query
          required: false
          schema:
            type: string
      x-observed:
        source: authenticated CDP DOM inspection 2026-07-14
        status: 200
      x-safety:
        response_contains_private_account_settings: true
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /user/update:
    post:
      tags: [profile]
      security:
        - goodreadsCookieSession: []
      summary: Update current-user profile or preference settings.
      description: |
        One shared endpoint backs separate forms for profile identity/details,
        email and notification preferences, home-feed preferences, and privacy/
        discoverability. The selected form is identified by `tab`; nested keys
        are sent under `user[...]` and `user_preference[...]`.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                _method:
                  type: string
                  description: Some settings forms use a Rails method override.
                tab:
                  type: string
                commit:
                  type: string
              additionalProperties: true
      x-observed:
        source: authenticated CDP DOM inspection 2026-07-14
        form_families: [profile, notifications, feeds, privacy]
        submitted: false
      x-safety:
        default: disabled
        sensitive_account_settings: true
        requires_approved_write_capture: true
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /amazon/login/destroy:
    post:
      tags: [profile]
      security:
        - goodreadsCookieSession: []
      summary: Disconnect the linked Amazon login from the Goodreads account.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                _method:
                  type: string
                authenticity_token:
                  type: string
      x-observed:
        source: authenticated CDP DOM inspection 2026-07-14
        submitted: false
      x-safety:
        default: disabled
        disruptive: true
        cli_support: omit
      responses:
        "302":
          description: Redirect after account-link change.

  /ap/signin:
    post:
      tags: [profile]
      summary: Begin the Amazon sign-in or account-link flow.
      x-observed:
        source: authenticated CDP DOM inspection 2026-07-14
        submitted: false
      x-safety:
        default: disabled
        interactive_auth_flow: true
        cli_support: omit
      responses:
        "302":
          description: Redirect into the Amazon sign-in flow.

  /book_link/edit_list:
    post:
      tags: [profile]
      security:
        - goodreadsCookieSession: []
      summary: Update preferred book-purchase country and link ordering.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                country:
                  type: string
                sort:
                  type: string
              required: [country]
      x-observed:
        source: authenticated CDP DOM inspection 2026-07-14
        submitted: false
      x-safety:
        default: disabled
        requires_approved_write_capture: true
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /review/list/{user}:
    get:
      tags: [shelves]
      summary: Bookshelf list for a user, optionally filtered by shelf.
      parameters:
        - name: user
          in: path
          required: true
          schema:
            type: string
          examples:
            numeric:
              value: "179929687"
            slugged:
              value: "179929687-zayd-khan"
        - $ref: "#/components/parameters/Shelf"
        - name: print
          in: query
          required: false
          schema:
            type: boolean
      x-observed:
        artifacts:
          - goodreads/proofs/user-pages-map-2026-05-22.json
          - goodreads/proofs/user-pages-map-batch2-2026-05-22.json
          - goodreads/proofs/nav-bookshelves-links-2026-05-22-v3.json
        status: 200
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"
    post:
      tags: [shelves]
      security:
        - goodreadsCookieSession: []
      summary: Persist an inline review, private notes, or reading dates from a shelf table.
      parameters:
        - name: user
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                "review[usertext]":
                  type: string
                "review[notes]":
                  type: string
                "review[date_started]":
                  type: string
                "review[date_read]":
                  type: string
                reading_session_id:
                  type: string
              additionalProperties: true
      x-observed:
        source: authenticated CDP DOM inspection 2026-07-14
        submitted: false
      x-safety:
        default: disabled
        requires_approved_write_capture: true
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /review/destroy/{review_id}:
    post:
      tags: [shelves]
      security:
        - goodreadsCookieSession: []
      summary: Delete one review and its shelf association.
      parameters:
        - name: review_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                authenticity_token:
                  type: string
      x-observed:
        source: authenticated CDP DOM inspection 2026-07-14
        submitted: false
      x-safety:
        default: disabled
        destructive: true
        requires_approved_write_capture: true
      responses:
        "302":
          description: Redirect after deletion.

  /review/list:
    get:
      tags: [shelves]
      summary: Current user's My Books page.
      parameters:
        - $ref: "#/components/parameters/Shelf"
        - $ref: "#/components/parameters/Ref"
      x-observed:
        artifacts:
          - goodreads/proofs/goodreads-genres-anchor-sample-2026-05-25.txt
          - goodreads/proofs/nav-bookshelves-links-2026-05-22-v3.json
        source: navigation link
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /review/list_rss/{user}:
    get:
      tags: [shelves]
      summary: Public shelf RSS feed for a user's books.
      description: |
        This public XML route is the cleanest current read API for shelf exports. Authenticated shelf pages
        can expose a private keyed RSS URL; do not log or commit that key.
      parameters:
        - name: user
          in: path
          required: true
          schema:
            type: string
          example: "179929687"
        - $ref: "#/components/parameters/Shelf"
        - name: key
          in: query
          required: false
          schema:
            type: string
          description: Optional private feed key from a logged-in page. Redact if present.
      x-observed:
        artifact: goodreads/research/current-api-sweep-2026-05-22.md
        status: 200
        contentType: application/xml
        auth_required: false
        observed_item_counts:
          read: 40
          to-read: 100
      x-safety:
        may_contain_private_key: true
        prefer_public_numeric_url: true
        not_full_export_for_large_shelves: true
      responses:
        "200":
          $ref: "#/components/responses/XmlFeed"

  /tooltips:
    get:
      tags: [books]
      summary: Batch tooltip metadata for book ids shown in shelf/list pages.
      parameters:
        - name: resources[Book.{id}][id]
          in: query
          required: false
          schema:
            type: string
          description: Goodreads emits one pair per book id.
        - name: resources[Book.{id}][type]
          in: query
          required: false
          schema:
            type: string
            const: Book
        - name: use_wtr_tooltip
          in: query
          required: false
          schema:
            type: boolean
      x-observed:
        artifacts:
          - goodreads/proofs/network-seed-2026-05-22.json
          - goodreads/proofs/user-pages-map-2026-05-22.json
          - goodreads/proofs/user-pages-map-batch2-2026-05-22.json
        status: 200
        resourceType: XHR
      responses:
        "200":
          $ref: "#/components/responses/XhrHtmlOrJson"

  /book/show/{book_slug}:
    get:
      tags: [books]
      summary: Book detail page. Current page is Next.js-backed.
      parameters:
        - name: book_slug
          in: path
          required: true
          schema:
            type: string
          example: 57905101-the-gate-of-the-feral-gods
      x-observed:
        artifact: goodreads/proofs/user-pages-map-batch2-2026-05-22.json
        status: 200
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /book:
    get:
      tags: [books, discovery]
      summary: Explore/books hub page.
      parameters:
        - $ref: "#/components/parameters/Ref"
      x-observed:
        artifacts:
          - goodreads/proofs/goodreads-sitemap-1-sample-2026-05-25.xml
          - goodreads/proofs/goodreads-genres-anchor-sample-2026-05-25.txt
        source: sitemap and Browse navigation
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /book/popular_by_date/{year}/{month}:
    get:
      tags: [books, discovery]
      summary: New releases / popular by date page.
      parameters:
        - name: year
          in: path
          required: true
          schema:
            type: integer
          example: 2026
        - name: month
          in: path
          required: true
          schema:
            type: integer
          example: 5
        - $ref: "#/components/parameters/Ref"
      x-observed:
        artifact: goodreads/proofs/goodreads-genres-anchor-sample-2026-05-25.txt
        source: Browse navigation
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /book/similar/{work_slug}:
    get:
      tags: [books, discovery]
      summary: Readers also enjoyed / similar books page for a work.
      parameters:
        - name: work_slug
          in: path
          required: true
          schema:
            type: string
          example: 40-the-hidden-persuaders
      x-observed:
        artifacts:
          - goodreads/proofs/goodreads-siteindex-related-work-2026-05-25.xml
          - goodreads/proofs/goodreads-sitemap-598-related-work-sample-2026-05-25.xml
        source: related-work sitemap
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /work/editions/{work_id}:
    get:
      tags: [books, discovery]
      summary: Editions page for a work.
      parameters:
        - name: work_id
          in: path
          required: true
          schema:
            type: string
      x-observed:
        artifact: goodreads/proofs/goodreads-robots-2026-05-25.txt
        source: robots allow rule
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /work/quotes/{work_id}:
    get:
      tags: [books, quotes]
      summary: Quotes page for a work.
      parameters:
        - name: work_id
          in: path
          required: true
          schema:
            type: string
      x-observed:
        artifact: goodreads/proofs/goodreads-robots-2026-05-25.txt
        source: robots allow rule
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /opensearch.xml:
    get:
      tags: [discovery]
      summary: OpenSearch descriptor for Goodreads book search.
      x-observed:
        artifact: goodreads/research/current-api-sweep-2026-05-22.md
        status: 200
        contentType: application/xml
      responses:
        "200":
          $ref: "#/components/responses/XmlFeed"

  /search:
    get:
      tags: [discovery]
      summary: Canonical site search route (books/authors/lists). Use this, not /search/search.
      description: >-
        Live-verified 2026-06-08 as the canonical search endpoint. Goodreads serves a
        202 anti-bot challenge stub (with a random-length HTML comment) to non-JS clients
        on this route, so programmatic callers should treat a 202 body as "search is
        bot-walled" rather than results. /search/search 301-redirects here.
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          example: harry potter
        - name: search_type
          in: query
          required: false
          schema:
            type: string
            default: books
      x-observed:
        artifact: goodreads/research/current-api-sweep-2026-05-22.md
        source: live redirect capture 2026-06-08
        status: 202
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"
        "202":
          description: Anti-bot challenge stub returned to non-JS clients.

  /search/search:
    get:
      tags: [discovery]
      summary: Legacy search route from the OpenSearch descriptor; 301-redirects to /search.
      parameters:
        - name: search_type
          in: query
          required: false
          schema:
            type: string
            default: books
        - name: search[query]
          in: query
          required: false
          schema:
            type: string
        - name: q
          in: query
          required: false
          schema:
            type: string
      x-observed:
        artifact: goodreads/research/current-api-sweep-2026-05-22.md
        source: opensearch.xml; live redirect verified 2026-06-08
        status: 301
      responses:
        "301":
          description: Permanent redirect to /search.
        "200":
          $ref: "#/components/responses/HtmlPage"

  /quotes/list:
    get:
      tags: [profile]
      summary: Current user's quotes list.
      x-observed:
        artifact: goodreads/proofs/user-pages-map-2026-05-22.json
        status: 200
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /quotes/search:
    get:
      tags: [quotes, discovery]
      summary: Search Goodreads quotes.
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
      x-observed:
        source: authenticated CDP DOM inspection 2026-07-14
        status: 200
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /quotes:
    get:
      tags: [quotes, discovery]
      summary: Public quotes index.
      parameters:
        - $ref: "#/components/parameters/Ref"
      x-observed:
        artifact: goodreads/proofs/goodreads-genres-anchor-sample-2026-05-25.txt
        source: Community navigation
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"
    post:
      tags: [quotes]
      summary: Create (add) a quote.
      description: >-
        Live-verified 2026-06-08 as the create target of the /quotes/new form
        (name="quoteForm"). Multipart or urlencoded body. NOTE: firing this from a
        non-browser client returns a 202 anti-bot challenge stub and the quote is NOT
        created — quote creation is bot-walled like /search. Reorder/remove are not.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                authenticity_token:
                  type: string
                "quote[author_name]":
                  type: string
                "quote[title]":
                  type: string
                  description: Optional source/book title.
                "quote[body]":
                  type: string
                  description: The quote text.
                "quote[tags]":
                  type: string
                isbn:
                  type: string
      x-observed:
        source: live form capture 2026-06-08
        submitted: false
      x-safety:
        default: dry-run
        requires_approved_write_capture: true
      responses:
        "302":
          description: Redirect to the new quote / quotes list on success.
        "200":
          $ref: "#/components/responses/HtmlPage"

  /quotes/{quote_slug}:
    get:
      tags: [quotes, discovery]
      summary: Public quote detail page.
      parameters:
        - name: quote_slug
          in: path
          required: true
          schema:
            type: string
          example: 1-the-story-so-far-in-the-beginning-the-universe-was
      x-observed:
        artifacts:
          - goodreads/proofs/goodreads-siteindex-quote-2026-05-25.xml
          - goodreads/proofs/goodreads-sitemap-427-quote-sample-2026-05-25.xml
        source: quote sitemap
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /quotes/new:
    get:
      tags: [quotes]
      summary: Add-a-quote form. Posts to POST /quotes.
      description: Live-verified 2026-06-08; form name="quoteForm" action="/quotes" method post.
      parameters:
        - name: book_id
          in: query
          required: false
          schema:
            type: integer
          description: Optional book to pre-attach the quote to.
      x-observed:
        source: live form capture 2026-06-08
        status: 200
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /quotes/{quote_slug}/remove:
    post:
      tags: [quotes]
      summary: Remove one quote from the current user's collection.
      description: >-
        Live-verified 2026-06-08 from the /quotes/list "Remove this quote" control
        (rel=nofollow, data-method="post", data-confirm). Identified by quote slug,
        not numeric id.
      parameters:
        - name: quote_slug
          in: path
          required: true
          schema:
            type: string
          example: 22890102-dreams-come-true-when-you-don-t-sleep
        - name: return_url
          in: query
          required: false
          schema:
            type: string
      x-observed:
        source: live form capture 2026-06-08
        submitted: false
      x-safety:
        default: dry-run
        requires_approved_write_capture: true
      responses:
        "302":
          description: Redirect to return_url (default /quotes/list) on success.
        "200":
          $ref: "#/components/responses/XhrHtmlOrJson"

  /quotes/move_up/{quote_id}:
    post:
      tags: [quotes]
      summary: Reorder — move a quote up one position in the user's list.
      description: >-
        Live-verified 2026-06-08 from /quotes/list reorder controls (data-method post). Numeric quote id.
        Fire-tested live (move_down then move_up to restore): returns HTTP 302 and reorders. Reversible.
      parameters:
        - name: quote_id
          in: path
          required: true
          schema:
            type: integer
          example: 105273908
      x-observed:
        source: live fire test 2026-06-08
        status: 302
        submitted: true
      x-safety:
        default: dry-run
        requires_approved_write_capture: true
      responses:
        "200":
          $ref: "#/components/responses/XhrHtmlOrJson"

  /quotes/move_down/{quote_id}:
    post:
      tags: [quotes]
      summary: Reorder — move a quote down one position in the user's list.
      description: >-
        Live-verified 2026-06-08 from /quotes/list reorder controls (data-method post). Numeric quote id.
        Fire-tested live (move_down then move_up to restore): returns HTTP 302 and reorders. Reversible.
      parameters:
        - name: quote_id
          in: path
          required: true
          schema:
            type: integer
          example: 105273908
      x-observed:
        source: live fire test 2026-06-08
        status: 302
        submitted: true
      x-safety:
        default: dry-run
        requires_approved_write_capture: true
      responses:
        "200":
          $ref: "#/components/responses/XhrHtmlOrJson"

  /quotes/move_top/{quote_id}:
    post:
      tags: [quotes]
      summary: Reorder — move a quote to the top of the user's list.
      description: >-
        Live-verified 2026-06-08 from /quotes/list reorder controls (data-method post). Numeric quote id.
        Fire-tested live (move_down then move_up to restore): returns HTTP 302 and reorders. Reversible.
      parameters:
        - name: quote_id
          in: path
          required: true
          schema:
            type: integer
          example: 105273908
      x-observed:
        source: live fire test 2026-06-08
        status: 302
        submitted: true
      x-safety:
        default: dry-run
        requires_approved_write_capture: true
      responses:
        "200":
          $ref: "#/components/responses/XhrHtmlOrJson"

  /quotes/move_bottom/{quote_id}:
    post:
      tags: [quotes]
      summary: Reorder — move a quote to the bottom of the user's list.
      description: >-
        Live-verified 2026-06-08 from /quotes/list reorder controls (data-method post). Numeric quote id.
        Fire-tested live (move_down then move_up to restore): returns HTTP 302 and reorders. Reversible.
      parameters:
        - name: quote_id
          in: path
          required: true
          schema:
            type: integer
          example: 105273908
      x-observed:
        source: live fire test 2026-06-08
        status: 302
        submitted: true
      x-safety:
        default: dry-run
        requires_approved_write_capture: true
      responses:
        "200":
          $ref: "#/components/responses/XhrHtmlOrJson"

  /quotes/update_positions:
    post:
      tags: [quotes]
      summary: Batch-persist quote ordering (drag-and-drop reorder).
      description: >-
        Live-verified 2026-06-08 from the /quotes/list reorder form
        (action="/quotes/update_positions" method post). Sends the ordered quote ids.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                authenticity_token:
                  type: string
                "quote[]":
                  type: array
                  items:
                    type: integer
                  description: Ordered list of quote ids.
              additionalProperties: true
      x-observed:
        source: live form capture 2026-06-08
        submitted: false
      x-safety:
        default: dry-run
        requires_approved_write_capture: true
      responses:
        "200":
          $ref: "#/components/responses/XhrHtmlOrJson"

  /quotes/widget/{user_slug}:
    get:
      tags: [profile]
      summary: User quotes widget script.
      parameters:
        - name: user_slug
          in: path
          required: true
          schema:
            type: string
          example: 179929687-zayd-khan
      x-observed:
        artifact: goodreads/proofs/user-pages-map-2026-05-22.json
        status: 200
        resourceType: Script
      responses:
        "200":
          $ref: "#/components/responses/XhrHtmlOrJson"

  /comment/list/{user_slug}:
    get:
      tags: [social]
      summary: User comments/recent posts page.
      parameters:
        - name: user_slug
          in: path
          required: true
          schema:
            type: string
          example: 179929687-zayd-khan
        - $ref: "#/components/parameters/Ref"
      x-observed:
        artifact: goodreads/proofs/user-pages-map-2026-05-22.json
        status: 200
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /comment:
    post:
      tags: [social]
      security:
        - goodreadsCookieSession: []
      summary: Create a comment on a Goodreads resource.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                "comment[body_usertext]":
                  type: string
                id:
                  type: string
                  description: Target resource identifier.
                type:
                  type: string
                  description: Target resource type.
              required: ["comment[body_usertext]", id, type]
      x-observed:
        source: authenticated CDP DOM inspection 2026-07-14
        submitted: false
      x-safety:
        default: disabled
        externally_visible: true
        requires_approved_write_capture: true
      responses:
        "200":
          $ref: "#/components/responses/XhrHtmlOrJson"

  /notes/{user_slug}:
    get:
      tags: [notes]
      summary: User Kindle Notes & Highlights index.
      parameters:
        - name: user_slug
          in: path
          required: true
          schema:
            type: string
          example: 179929687-zayd-khan
        - $ref: "#/components/parameters/Ref"
      x-observed:
        artifacts:
          - goodreads/proofs/user-pages-map-2026-05-22.json
          - goodreads/proofs/user-pages-map-batch2-2026-05-22.json
        status: 200
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /notes/{user_id}/load_more:
    get:
      tags: [notes]
      summary: Paginated notes/highlights index loader.
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
          example: 179929687
      x-observed:
        artifacts:
          - goodreads/proofs/user-pages-map-2026-05-22.json
          - goodreads/proofs/user-pages-map-batch2-2026-05-22.json
        status: 200
        resourceType: XHR
      responses:
        "200":
          $ref: "#/components/responses/XhrHtmlOrJson"

  /notes/{book_slug}/{user_slug}:
    get:
      tags: [notes]
      summary: Notes/highlights detail page for one book and user.
      parameters:
        - name: book_slug
          in: path
          required: true
          schema:
            type: string
          examples:
            inevitable:
              value: 220329192-this-inevitable-ruin
            mrWhisper:
              value: 218134959-mr-whisper
        - name: user_slug
          in: path
          required: true
          schema:
            type: string
          example: 179929687-zayd-khan
        - $ref: "#/components/parameters/Ref"
      x-observed:
        artifacts:
          - goodreads/proofs/user-pages-map-batch2-2026-05-22.json
          - goodreads/proofs/notes-interaction-mr-whisper-2026-05-22.json
          - goodreads/proofs/notes-publicize-verify-2026-05-22.json
        status: 200
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /notes/{book_id}/share:
    put:
      tags: [notes]
      security:
        - goodreadsCookieSession: []
      summary: Bulk publicize or hide notes/highlights for a book.
      description: |
        Observed through the "Make all N visible" and "Hide all" buttons.
        This is a real account mutation. Send form body `visible=true` to publicize
        or `visible=false` to hide. Verified via live CDP network capture 2026-06-08.
        Use dry-run by default and verify on reload by counting `.js-readingNote[data-visible=true]`.
      parameters:
        - name: book_id
          in: path
          required: true
          schema:
            type: integer
          examples:
            mrWhisper:
              value: 218134959
            girlBeneathTheSea:
              value: 48526390
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                visible:
                  type: string
                  enum: ["true", "false"]
                  description: Set to "true" to make all annotations visible, "false" to hide all.
              required: [visible]
      x-observed:
        artifact: goodreads/proofs/notes-publicize-writes-2026-05-22.json
        status: 200
        approved_write_scope: pasted notes pages only
      x-safety:
        default: dry-run
        requires_explicit_execute: true
        verify_after_write: reload
      responses:
        "200":
          $ref: "#/components/responses/XhrHtmlOrJson"

  /notes/{book_id}/{annotation_pair_id}:
    post:
      tags: [notes]
      security:
        - goodreadsCookieSession: []
      summary: Delete one Kindle note/highlight through the Rails method override.
      description: |
        Live-verified 2026-06-08. The browser submits POST form data with
        `_method=delete`; treat this as destructive even though re-publicizing
        may recover some annotations.
      parameters:
        - name: book_id
          in: path
          required: true
          schema:
            type: integer
        - name: annotation_pair_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                _method:
                  type: string
                  const: delete
                authenticity_token:
                  type: string
              required: [_method]
      x-observed:
        source: live HTTP verification 2026-06-08
        status: 200
      x-safety:
        default: dry-run
        destructive: true
        requires_explicit_execute: true
      responses:
        "200":
          $ref: "#/components/responses/XhrHtmlOrJson"
    put:
      tags: [notes]
      security:
        - goodreadsCookieSession: []
      summary: Update one annotation's visibility or spoiler state.
      description: |
        Current Goodreads client source sends `PUT` to the base annotation route.
        Use exactly one of `visible` or `is_spoiler`. The route shape and payload
        were source-verified without submitting an account mutation.
      parameters:
        - name: book_id
          in: path
          required: true
          schema:
            type: integer
        - name: annotation_pair_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                visible:
                  type: boolean
                  description: Make the annotation public or private.
                is_spoiler:
                  type: boolean
                  description: Mark or unmark the annotation as a spoiler.
              minProperties: 1
              maxProperties: 1
      x-observed:
        source: authenticated CDP source inspection 2026-07-14
        submitted: false
      x-confidence: source-verified-unsubmitted
      x-safety:
        default: disabled
        requires_approved_write_capture: true
      responses:
        "200":
          $ref: "#/components/responses/XhrHtmlOrJson"
    delete:
      tags: [notes]
      security:
        - goodreadsCookieSession: []
      summary: Delete one entire Kindle annotation/highlight.
      description: |
        Current Goodreads client source issues a direct `DELETE` to the base
        annotation route and includes `reading_note_id` in the query. This is the
        destructive direct-method equivalent of the older Rails POST override.
      parameters:
        - name: book_id
          in: path
          required: true
          schema:
            type: integer
        - name: annotation_pair_id
          in: path
          required: true
          schema:
            type: string
        - name: reading_note_id
          in: query
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                book_id:
                  type: integer
      x-observed:
        source: authenticated CDP source inspection 2026-07-14
        submitted: false
      x-confidence: source-verified-unsubmitted
      x-safety:
        default: disabled
        destructive: true
        requires_approved_write_capture: true
      responses:
        "200":
          $ref: "#/components/responses/XhrHtmlOrJson"

  /notes/{book_id}/{annotation_pair_id}/note:
    post:
      tags: [notes]
      security:
        - goodreadsCookieSession: []
      summary: Add personal note text to an annotation.
      description: |
        The DOM exposes this persistence endpoint and current Goodreads client source
        sends `POST` with `text` and `annotation_pair_id`. Not submitted in this run.
      parameters:
        - name: book_id
          in: path
          required: true
          schema:
            type: integer
        - name: annotation_pair_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                text:
                  type: string
                annotation_pair_id:
                  type: string
              required: [text, annotation_pair_id]
      x-observed:
        source: authenticated CDP DOM and source inspection 2026-07-14
        submitted: false
      x-confidence: source-verified-unsubmitted
      x-safety:
        default: disabled
        requires_approved_write_capture: true
      responses:
        "200":
          $ref: "#/components/responses/XhrHtmlOrJson"

    put:
      tags: [notes]
      security:
        - goodreadsCookieSession: []
      summary: Update personal note text on an annotation.
      parameters:
        - name: book_id
          in: path
          required: true
          schema:
            type: integer
        - name: annotation_pair_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                text:
                  type: string
              required: [text]
      x-observed:
        source: authenticated CDP source inspection 2026-07-14
        submitted: false
      x-confidence: source-verified-unsubmitted
      x-safety:
        default: disabled
        requires_approved_write_capture: true
      responses:
        "200":
          $ref: "#/components/responses/XhrHtmlOrJson"
    delete:
      tags: [notes]
      security:
        - goodreadsCookieSession: []
      summary: Delete personal note text while preserving the annotation.
      parameters:
        - name: book_id
          in: path
          required: true
          schema:
            type: integer
        - name: annotation_pair_id
          in: path
          required: true
          schema:
            type: string
      x-observed:
        source: authenticated CDP source inspection 2026-07-14
        submitted: false
      x-confidence: source-verified-unsubmitted
      x-safety:
        default: disabled
        destructive: true
        requires_approved_write_capture: true
      responses:
        "200":
          $ref: "#/components/responses/XhrHtmlOrJson"

  /kindle_book_mapping_flags:
    post:
      tags: [notes]
      security:
        - goodreadsCookieSession: []
      summary: Report an incorrect Kindle-to-Goodreads book mapping.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                book_id:
                  type: integer
                reason:
                  type: string
                other_reason:
                  type: string
              required: [book_id, reason]
      x-observed:
        source: authenticated CDP DOM inspection 2026-07-14
        submitted: false
      x-safety:
        default: disabled
        externally_visible: true
        requires_approved_write_capture: true
      responses:
        "200":
          $ref: "#/components/responses/XhrHtmlOrJson"

  /notifications:
    get:
      tags: [social]
      summary: User notifications page.
      parameters:
        - $ref: "#/components/parameters/Ref"
      x-observed:
        artifact: goodreads/proofs/user-pages-map-2026-05-22.json
        status: 200
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /notifications/track:
    post:
      tags: [analytics]
      summary: Notification tracking call emitted by the UI.
      x-observed:
        artifact: goodreads/proofs/user-pages-map-2026-05-22.json
        status: 200
      x-safety:
        cli_support: omit
      responses:
        "200":
          $ref: "#/components/responses/Empty"

  /dfp/impression:
    get:
      tags: [analytics]
      summary: Record a display-ad impression.
      x-observed:
        source: authenticated CDP network inspection 2026-07-14
        status: 200
      x-safety:
        cli_support: omit
      responses:
        "200":
          $ref: "#/components/responses/Empty"

  /friend/requests:
    get:
      tags: [social]
      summary: Friend requests page.
      parameters:
        - $ref: "#/components/parameters/Ref"
      x-observed:
        artifact: goodreads/proofs/user-pages-map-2026-05-22.json
        status: 200
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /friend:
    get:
      tags: [social]
      summary: Friends index page.
      x-observed:
        artifact: goodreads/proofs/user-pages-map-batch2-2026-05-22.json
        status: 200
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /friend/find_friend:
    get:
      tags: [social, discovery]
      security:
        - goodreadsCookieSession: []
      summary: Search for Goodreads users from the friend finder.
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
        - name: n
          in: query
          required: false
          schema:
            type: integer
          description: Result limit requested by the UI.
      x-observed:
        source: authenticated CDP DOM inspection 2026-07-14
        status: 200
      responses:
        "200":
          $ref: "#/components/responses/XhrHtmlOrJson"

  /friend/destroy/{friend_id}:
    post:
      tags: [social]
      summary: Remove (unfriend) a friend.
      description: >-
        Live-verified 2026-06-08 from the /friend page (each friend row links
        /friend/destroy/{id} as a data-method post UJS action).
      parameters:
        - name: friend_id
          in: path
          required: true
          schema:
            type: integer
          example: 114672800
      x-observed:
        source: live form capture 2026-06-08
        submitted: false
      x-safety:
        default: dry-run
        requires_approved_write_capture: true
      responses:
        "302":
          description: Redirect back to /friend on success.
        "200":
          $ref: "#/components/responses/XhrHtmlOrJson"

  /friend/add_as_friend/{user_id}:
    post:
      tags: [social]
      summary: Add a user as a friend (send friend request).
      description: >-
        Documented inverse of /friend/destroy from static UJS mining; the add control is
        rendered on profile pages. Not live-fired. Pairs with /friend/destroy for add/remove.
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
      x-observed:
        source: static JS mining; full-surface-2026-05-28
        submitted: false
      x-safety:
        default: dry-run
        requires_approved_write_capture: true
      responses:
        "302":
          description: Redirect on success.
        "200":
          $ref: "#/components/responses/XhrHtmlOrJson"

  /topic:
    get:
      tags: [social]
      summary: Discussions page, optionally filtered to groups.
      parameters:
        - name: discussion_filter
          in: query
          required: false
          schema:
            type: string
            examples: [groups]
        - $ref: "#/components/parameters/Ref"
      x-observed:
        artifact: goodreads/proofs/user-pages-map-2026-05-22.json
        status: 200
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /message/inbox:
    get:
      tags: [social]
      summary: User message inbox.
      parameters:
        - $ref: "#/components/parameters/Ref"
      x-observed:
        artifact: goodreads/proofs/user-pages-map-batch2-2026-05-22.json
        status: 200
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /message/{folder}:
    get:
      tags: [social]
      summary: User message folder page.
      parameters:
        - name: folder
          in: path
          required: true
          schema:
            type: string
            enum: [inbox, saved, sent, trash]
      x-observed:
        artifact: goodreads/proofs/discovery-pages-map-2026-05-22.json
        status: 200
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /message/show/{message_id}:
    get:
      tags: [social]
      summary: Message detail page.
      parameters:
        - name: message_id
          in: path
          required: true
          schema:
            type: integer
      x-observed:
        artifact: goodreads/proofs/discovery-pages-map-2026-05-22.json
        source: inbox link
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /message/move_batch:
    post:
      tags: [social]
      summary: Batch message folder/read action.
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                authenticity_token:
                  type: string
                folder:
                  type: string
                "move[folder]":
                  type: string
                  enum: [saved, trash, read]
                "messages[{message_id}]":
                  type: string
      x-observed:
        artifact: goodreads/proofs/discovery-pages-map-2026-05-22.json
        source: form action
        submitted: false
      x-safety:
        default: dry-run
        requires_approved_write_capture: true
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /message/mark_all_as_read:
    get:
      tags: [social]
      summary: Mark all visible inbox messages read.
      x-observed:
        artifact: goodreads/proofs/discovery-pages-map-2026-05-22.json
        source: inbox link
        clicked: false
      x-safety:
        default: dry-run
        requires_explicit_execute: true
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /user/year_in_books/{year}/{user_id}:
    get:
      tags: [profile]
      summary: Year in Books page.
      parameters:
        - name: year
          in: path
          required: true
          schema:
            type: integer
          example: 2025
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
          example: 179929687
      x-observed:
        artifact: goodreads/proofs/user-pages-map-batch2-2026-05-22.json
        status: 200
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /list/show/{list_id}:
    get:
      tags: [discovery]
      summary: Public Listopia list page.
      parameters:
        - name: list_id
          in: path
          required: true
          schema:
            type: integer
          example: 1
      x-observed:
        artifact: goodreads/proofs/user-pages-map-batch2-2026-05-22.json
        status: 200
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /list:
    get:
      tags: [discovery]
      summary: Listopia lists index.
      parameters:
        - $ref: "#/components/parameters/Ref"
      x-observed:
        artifacts:
          - goodreads/proofs/goodreads-sitemap-1-sample-2026-05-25.xml
          - goodreads/proofs/goodreads-genres-anchor-sample-2026-05-25.txt
        source: sitemap and Browse navigation
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /award:
    get:
      tags: [discovery]
      summary: Awards index page.
      x-observed:
        artifacts:
          - goodreads/proofs/goodreads-sitemap-1-sample-2026-05-25.xml
          - goodreads/proofs/goodreads-public-hub-head-status-2026-05-25.txt
        source: sitemap and live public hub status
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /award/show/{award_slug}:
    get:
      tags: [discovery]
      summary: Award detail page.
      parameters:
        - name: award_slug
          in: path
          required: true
          schema:
            type: string
          example: 13-booker-prize
      x-observed:
        artifacts:
          - goodreads/proofs/goodreads-siteindex-award-2026-05-25.xml
          - goodreads/proofs/goodreads-sitemap-596-award-sample-2026-05-25.xml
        source: award sitemap
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /choiceawards:
    get:
      tags: [discovery]
      summary: Goodreads Choice Awards page.
      parameters:
        - $ref: "#/components/parameters/Ref"
      x-observed:
        artifacts:
          - goodreads/proofs/goodreads-genres-anchor-sample-2026-05-25.txt
          - goodreads/proofs/goodreads-public-hub-head-status-2026-05-25.txt
        source: Browse navigation and live public hub status
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /author:
    get:
      tags: [discovery]
      summary: Authors index page.
      x-observed:
        artifacts:
          - goodreads/proofs/goodreads-sitemap-1-sample-2026-05-25.xml
          - goodreads/proofs/goodreads-public-hub-head-status-2026-05-25.txt
        source: sitemap and live public hub status
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /author/show/{author_slug}:
    get:
      tags: [discovery]
      summary: Author detail page.
      parameters:
        - name: author_slug
          in: path
          required: true
          schema:
            type: string
          example: 4.Douglas_Adams
      x-observed:
        artifacts:
          - goodreads/proofs/goodreads-siteindex-author-2026-05-25.xml
          - goodreads/proofs/goodreads-sitemap-79-author-sample-2026-05-25.xml
        source: author sitemap
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /giveaway:
    get:
      tags: [discovery]
      summary: Giveaways index page.
      parameters:
        - $ref: "#/components/parameters/Ref"
      x-observed:
        artifacts:
          - goodreads/proofs/goodreads-sitemap-1-sample-2026-05-25.xml
          - goodreads/proofs/goodreads-genres-anchor-sample-2026-05-25.txt
          - goodreads/proofs/goodreads-public-hub-head-status-2026-05-25.txt
        source: sitemap, Browse navigation, and live public hub status
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /group:
    get:
      tags: [social, discovery]
      summary: Groups index page.
      parameters:
        - $ref: "#/components/parameters/Ref"
      x-observed:
        artifacts:
          - goodreads/proofs/goodreads-sitemap-1-sample-2026-05-25.xml
          - goodreads/proofs/goodreads-genres-anchor-sample-2026-05-25.txt
          - goodreads/proofs/goodreads-public-hub-head-status-2026-05-25.txt
        source: sitemap, Community navigation, and live public hub status
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /group/show/{group_slug}:
    get:
      tags: [social, discovery]
      summary: Public group detail page.
      parameters:
        - name: group_slug
          in: path
          required: true
          schema:
            type: string
          example: 29-mystery-lovers
      x-observed:
        artifacts:
          - goodreads/proofs/goodreads-siteindex-group-2026-05-25.xml
          - goodreads/proofs/goodreads-sitemap-300-group-sample-2026-05-25.xml
        source: group sitemap
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /news:
    get:
      tags: [discovery]
      summary: News and interviews index page.
      parameters:
        - $ref: "#/components/parameters/Ref"
      x-observed:
        artifacts:
          - goodreads/proofs/goodreads-sitemap-1-sample-2026-05-25.xml
          - goodreads/proofs/goodreads-genres-anchor-sample-2026-05-25.txt
          - goodreads/proofs/goodreads-public-hub-head-status-2026-05-25.txt
        source: sitemap, Browse navigation, and live public hub status
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /interviews:
    get:
      tags: [discovery]
      summary: Interviews index page.
      x-observed:
        artifact: goodreads/proofs/goodreads-public-hub-head-status-2026-05-25.txt
        source: live public hub status
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /interviews/show/{interview_slug}:
    get:
      tags: [discovery]
      summary: Interview detail page.
      parameters:
        - name: interview_slug
          in: path
          required: true
          schema:
            type: string
          example: 12.Neil_Gaiman
      x-observed:
        artifacts:
          - goodreads/proofs/goodreads-siteindex-interview-2026-05-25.xml
          - goodreads/proofs/goodreads-sitemap-595-interview-sample-2026-05-25.xml
        source: interview sitemap
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /ask_the_author:
    get:
      tags: [social, discovery]
      summary: Ask the Author index page.
      parameters:
        - $ref: "#/components/parameters/Ref"
      x-observed:
        artifacts:
          - goodreads/proofs/goodreads-genres-anchor-sample-2026-05-25.txt
          - goodreads/proofs/goodreads-public-hub-head-status-2026-05-25.txt
        source: Community navigation and live public hub status
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /questions/{question_slug}:
    get:
      tags: [social, discovery]
      summary: Book or author community question page.
      parameters:
        - name: question_slug
          in: path
          required: true
          schema:
            type: string
          example: 2-when-you-compare-this-to-the-big-short
      x-observed:
        artifacts:
          - goodreads/proofs/goodreads-siteindex-book-question-2026-05-25.xml
          - goodreads/proofs/goodreads-siteindex-author-question-2026-05-25.xml
          - goodreads/proofs/goodreads-sitemap-273-book-question-sample-2026-05-25.xml
          - goodreads/proofs/goodreads-sitemap-260-author-question-sample-2026-05-25.xml
        source: book and author question sitemaps
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /recommendations:
    get:
      tags: [discovery]
      summary: Personalized recommendations page.
      parameters:
        - $ref: "#/components/parameters/Ref"
      x-observed:
        artifacts:
          - goodreads/proofs/user-pages-map-2026-05-22.json
          - goodreads/proofs/nav-bookshelves-links-2026-05-22-v3.json
        status: 200
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /recommendations/to_me:
    get:
      tags: [discovery]
      summary: Friends' recommendations page.
      parameters:
        - $ref: "#/components/parameters/Ref"
      x-observed:
        artifact: goodreads/proofs/nav-bookshelves-links-2026-05-22-v3.json
        source: navigation link
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /user_not_interested_works:
    post:
      tags: [discovery]
      security:
        - goodreadsCookieSession: []
      summary: Dismiss a book from personalized recommendations.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                "user_not_interested_work[book_id]":
                  type: integer
              required: ["user_not_interested_work[book_id]"]
      x-observed:
        source: authenticated CDP DOM inspection 2026-07-14
        submitted: false
      x-safety:
        default: disabled
        requires_approved_write_capture: true
      responses:
        "200":
          $ref: "#/components/responses/XhrHtmlOrJson"

  /amazon_purchases:
    get:
      tags: [discovery]
      summary: Amazon purchases import/inspection page.
      parameters:
        - name: source
          in: query
          required: false
          schema:
            type: string
      x-observed:
        artifact: goodreads/proofs/discovery-pages-map-2026-05-22.json
        status: 200
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /amazon_purchases/books:
    get:
      tags: [discovery]
      security:
        - goodreadsCookieSession: []
      summary: Load another page of books discovered from Amazon purchases.
      parameters:
        - name: last_row
          in: query
          required: false
          schema:
            type: integer
        - name: next_page_token
          in: query
          required: false
          schema:
            type: string
        - name: origin
          in: query
          required: false
          schema:
            type: string
      x-observed:
        source: authenticated CDP network inspection 2026-07-14
        status: 200
      x-safety:
        may_contain_private_purchase_history: true
      responses:
        "200":
          $ref: "#/components/responses/XhrHtmlOrJson"

  /shelf:
    get:
      tags: [discovery]
      summary: Top public shelves index.
      x-observed:
        artifact: goodreads/proofs/discovery-pages-map-2026-05-22.json
        status: 200
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /shelf/show/{shelf_slug}:
    get:
      tags: [discovery]
      summary: Public shelf landing page.
      parameters:
        - name: shelf_slug
          in: path
          required: true
          schema:
            type: string
          examples:
            toRead:
              value: to-read
            currentlyReading:
              value: currently-reading
      x-observed:
        artifact: goodreads/proofs/discovery-pages-map-2026-05-22.json
        status: 200
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /genres:
    get:
      tags: [discovery]
      summary: Genre index page.
      parameters:
        - $ref: "#/components/parameters/Ref"
      x-observed:
        artifact: goodreads/proofs/genres-page-links-2026-05-22.json
        status: 200
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /genres/list:
    get:
      tags: [discovery]
      summary: Alphabetical genre shelves index.
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
        - name: filter
          in: query
          required: false
          schema:
            type: string
      x-observed:
        artifact: goodreads/proofs/discovery-pages-map-2026-05-22.json
        status: 200
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /genres/search:
    get:
      tags: [discovery]
      summary: Genre finder route.
      parameters:
        - name: shelf
          in: query
          required: false
          schema:
            type: string
      x-observed:
        artifact: goodreads/proofs/discovery-pages-map-2026-05-22.json
        source: form action
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /genres/{genre_slug}:
    get:
      tags: [discovery]
      summary: Genre landing page.
      parameters:
        - name: genre_slug
          in: path
          required: true
          schema:
            type: string
          examples:
            art:
              value: art
            historicalFiction:
              value: historical-fiction
      x-observed:
        artifact: goodreads/proofs/genres-page-links-2026-05-22.json
        source: navigation link
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /user/top_readers:
    get:
      tags: [discovery]
      summary: People discovery page for top readers.
      x-observed:
        artifact: goodreads/proofs/discovery-pages-map-2026-05-22.json
        status: 200
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /user/top_reviewers:
    get:
      tags: [discovery]
      summary: People discovery page for top reviewers.
      x-observed:
        artifact: goodreads/proofs/discovery-pages-map-2026-05-22.json
        status: 200
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /user/best_reviewers:
    get:
      tags: [discovery]
      summary: People discovery page for most popular reviewers.
      x-observed:
        artifact: goodreads/proofs/discovery-pages-map-2026-05-22.json
        status: 200
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /user_following/most_followed:
    get:
      tags: [discovery]
      summary: People discovery page for most-followed users.
      x-observed:
        artifact: goodreads/proofs/discovery-pages-map-2026-05-22.json
        status: 200
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /review/stats/{user}:
    get:
      tags: [shelves]
      summary: Reading stats page.
      parameters:
        - name: user
          in: path
          required: true
          schema:
            type: string
          examples:
            numeric:
              value: "179929687"
            slugged:
              value: "179929687-zayd-khan"
      x-observed:
        artifact: goodreads/proofs/nav-bookshelves-links-2026-05-22-v3.json
        source: navigation link
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /review/drafts:
    get:
      tags: [shelves]
      summary: Review drafts page.
      x-observed:
        artifact: goodreads/proofs/nav-bookshelves-links-2026-05-22-v3.json
        source: navigation link
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /review/duplicates:
    get:
      tags: [shelves]
      summary: Duplicate books tool.
      x-observed:
        artifact: goodreads/proofs/nav-bookshelves-links-2026-05-22-v3.json
        source: navigation link
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /review/import:
    get:
      tags: [shelves]
      summary: Import/export page.
      x-observed:
        artifact: goodreads/proofs/nav-bookshelves-links-2026-05-22-v3.json
        source: navigation link
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"
    post:
      tags: [shelves]
      security:
        - goodreadsCookieSession: []
      summary: Import books from an uploaded file or a remote list URL.
      description: Supply exactly one of `import[file]` or `import[url]`.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                "import[file]":
                  type: string
                  format: binary
                "import[url]":
                  type: string
                  format: uri
              minProperties: 1
              maxProperties: 1
      x-observed:
        source: authenticated CDP DOM inspection 2026-07-14
        submitted: false
      x-safety:
        default: disabled
        bulk_mutation: true
        requires_approved_write_capture: true
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /review/destroy_all:
    post:
      tags: [shelves]
      security:
        - goodreadsCookieSession: []
      summary: Delete all reviews and shelf data for the current account.
      x-observed:
        source: authenticated CDP DOM inspection 2026-07-14
        submitted: false
      x-safety:
        default: disabled
        destructive: true
        bulk_mutation: true
        cli_support: omit
      responses:
        "302":
          description: Redirect after destructive account-wide deletion.

  /review_porter/export/{user_id}/goodreads_export.csv:
    head:
      tags: [shelves]
      security:
        - goodreadsCookieSession: []
      summary: Check whether a Goodreads library export is available.
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
      x-observed:
        source: authenticated CDP network inspection 2026-07-14
        status: 404
      x-safety:
        response_may_reference_private_export: true
      responses:
        "200":
          description: Export exists or availability check completed.
        "404":
          description: No prepared export is currently available.

  /user_shelves:
    post:
      tags: [shelves]
      summary: Create a custom user shelf.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                authenticity_token:
                  type: string
                "user_shelf[name]":
                  type: string
                commit:
                  type: string
      x-observed:
        artifact: goodreads/proofs/bookshelf-edit-popover-map-2026-05-22-v2.json
        source: form action
        submitted: false
      x-safety:
        default: dry-run
        requires_approved_write_capture: true
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /shelf/update/{shelf_id}:
    post:
      tags: [shelves]
      summary: Update shelf display/settings.
      parameters:
        - name: shelf_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                _method:
                  type: string
                  example: patch
                authenticity_token:
                  type: string
                "user_shelf[sort]":
                  type: string
                "user_shelf[order]":
                  type: string
                "user_shelf[per_page]":
                  type: integer
      x-observed:
        artifact: goodreads/proofs/bookshelf-edit-popover-map-2026-05-22-v2.json
        source: form action
        submitted: false
      x-safety:
        default: dry-run
        requires_approved_write_capture: true
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /review/update_list/{user_id}:
    post:
      tags: [shelves]
      summary: Batch update selected reviews/books on a user's shelf table.
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                authenticity_token:
                  type: string
                view:
                  type: string
                  example: table
                "edit[shelf]":
                  type: string
                "reviews[{review_id}]":
                  type: string
      x-observed:
        artifacts:
          - goodreads/proofs/bookshelf-edit-popover-map-2026-05-22-v2.json
          - goodreads/proofs/bookshelf-script-routes-2026-05-22.json
        source: form and script mining
        submitted: false
      x-safety:
        default: dry-run
        requires_approved_write_capture: true
        verify_after_write: reload target shelf
      responses:
        "200":
          $ref: "#/components/responses/HtmlPage"

  /shelf/add_to_shelf:
    post:
      tags: [shelves]
      summary: Add or remove one book from a shelf through the shelf chooser helper.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                authenticity_token:
                  type: string
                book_id:
                  type: integer
                name:
                  type: string
                a:
                  type: string
                  description: Empty/add by default; `remove` removes the shelf.
      description: >-
        Fire-tested live 2026-06-08 (add a fresh book to to-read, then a=remove to revert):
        WORKS in both directions — returns HTTP 200 with a Rails-UJS payload and the shelf
        membership actually changes. This is the working add/remove path for exclusive shelves.
      x-observed:
        artifact: goodreads/proofs/bookshelf-script-routes-2026-05-22.json
        source: live fire test 2026-06-08
        status: 200
        submitted: true
      x-safety:
        default: dry-run
        requires_approved_write_capture: true
      responses:
        "200":
          $ref: "#/components/responses/XhrHtmlOrJson"

  /shelf/remove_book:
    post:
      tags: [shelves]
      summary: Remove one book from a shelf from the button helper.
      description: >-
        Fire-tested live 2026-06-08 with {book_id, name}: returns HTTP 204 but is a NO-OP
        for exclusive shelves (to-read/read/currently-reading) — the book stays shelved.
        Use POST /shelf/add_to_shelf with a=remove to actually remove from an exclusive shelf.
        This route may still apply to custom shelves with different params (unconfirmed).
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                authenticity_token:
                  type: string
                book_id:
                  type: integer
                name:
                  type: string
      x-observed:
        artifact: goodreads/proofs/bookshelf-script-routes-2026-05-22.json
        source: live fire test 2026-06-08
        status: 204
        submitted: true
        note: 204 no-op on exclusive shelves
      x-safety:
        default: dry-run
        requires_approved_write_capture: true
      responses:
        "200":
          $ref: "#/components/responses/XhrHtmlOrJson"

  /shelf/move_batch:
    post:
      tags: [shelves]
      summary: Reorder books/shelves in batch.
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties: true
      x-observed:
        artifact: goodreads/proofs/bookshelf-script-routes-2026-05-22.json
        source: static JS mining
        submitted: false
      x-safety:
        default: dry-run
        requires_approved_write_capture: true
      responses:
        "200":
          $ref: "#/components/responses/XhrHtmlOrJson"

  /shelf/move_batch/{user_id}:
    post:
      tags: [shelves]
      summary: Persist shelf-table position changes for a user.
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties: true
      x-observed:
        artifact: goodreads/proofs/bookshelf-script-routes-2026-05-22.json
        source: static JS mining
        submitted: false
      x-safety:
        default: dry-run
        requires_approved_write_capture: true
      responses:
        "200":
          $ref: "#/components/responses/XhrHtmlOrJson"

  /shelf/move_to_position:
    post:
      tags: [shelves]
      summary: Move one shelf/book row to a specific position.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                authenticity_token:
                  type: string
                id:
                  type: integer
                position:
                  type: integer
      x-observed:
        artifact: goodreads/proofs/bookshelf-script-routes-2026-05-22.json
        source: static JS mining
        submitted: false
      x-safety:
        default: dry-run
        requires_approved_write_capture: true
      responses:
        "200":
          $ref: "#/components/responses/XhrHtmlOrJson"

  /review/update/{book_id}:
    post:
      tags: [shelves]
      summary: Inline review/date/notes field update for one book.
      parameters:
        - name: book_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties: true
      x-observed:
        artifact: goodreads/proofs/bookshelf-script-routes-2026-05-22.json
        source: static JS mining
        submitted: false
      x-safety:
        default: dry-run
        requires_approved_write_capture: true
      responses:
        "200":
          $ref: "#/components/responses/XhrHtmlOrJson"

  /review/update_session_shelf_settings:
    post:
      tags: [shelves]
      summary: Update transient shelf-table UI settings in the session.
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties: true
      x-observed:
        artifact: goodreads/proofs/bookshelf-script-routes-2026-05-22.json
        source: static JS mining
        submitted: false
      x-safety:
        default: omit
      responses:
        "200":
          $ref: "#/components/responses/XhrHtmlOrJson"
